.fake/
.hg/
.vs/
*~
[tT]humbs.db
[bB]in/
[Oo]bj/
Release/
Debug/
Backup/
Temp/
_UpgradeReport_Files/
ipch/
UpgradeLog.XML
UpgradeLog.htm
TestResult.xml
*.suo
*.sdf
*.user
ReSharper.
_ReSharper.*
*.resharper.user
*.DotSettings
*.opensdf
.ncb
*.dll
!3pp/*/*.dll
build/
*.ncrunchsolution
app.dev.config
NuGet.config
repositories.config
packages
FAKE
*.orig
src/**/connectionstrings.config
DevFolders
*.log
log.txt
*.DotSettings
*.opensdf
NuGet.Config

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
il2cpp_cache
